<div class="flex flex-col gap-5">
  @for (forecastItem of forecast()?.days; track $index; let even = $even ) {
  <a
    routerLink="/forecast/details"
    class="block w-full h-fit border border-secondary-content/50 rounded-box cursor-pointer"
    [class]="even ? 'bg-secondary' : 'bg-accent'"
    (click)="saveSelectedDay(forecastItem.date)"
  >
    <!-- FORECAST GRID -->
    <div
      class="grid items-center justify-center gap-4 m-4 text-secondary-content grid-cols-3 sm:mx-12 sm:my-6 md:mx-14 md:my-7 md:gap-7 md:grid-cols-4 lg:mx-18 lg:my-9 lg:gap-10 lg:grid-cols-7 xl:gap-13 xl:grid-cols-8"
    >
      <div class="flex flex-col col-span-2 justify-start gap-4">
        <!-- HEADER -->
        <p class="hidden sm:block sm:text-primary-content sm:font-bold">
          {{ forecastItem.date | date : "EEEE, d MMMM" }}
        </p>
        <p class="text-primary-content font-bold sm:hidden">
          {{ forecastItem.date | date : "EEEE, d" }}
        </p>
        <!-- CONTENT -->
        <div class="flex flex-row gap-4 justify-between">
          <!-- DAYTIME -->
          <div class="flex flex-col justify-center gap-4">
            @if (hasDataForDayPart(forecastItem.list, "morning")) {
            <p>Morning</p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
            <p>Afternoon</p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "evening")) {
            <p>Evening</p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "night")) {
            <p>Night</p>
            }
          </div>
          <!-- TEMPERATURE -->
          <div class="flex flex-col justify-center gap-4 text-primary-content">
            @if (hasDataForDayPart(forecastItem.list, "morning")) {
            <p>
              {{
                getWeatherProperty(forecastItem.list, "temp", "morning")
                  | temperature : temperatureUnit()
              }}<span>°</span>
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
            <p>
              {{
                getWeatherProperty(forecastItem.list, "temp", "afternoon")
                  | temperature : temperatureUnit()
              }}<span>°</span>
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "evening")) {
            <p>
              {{
                getWeatherProperty(forecastItem.list, "temp", "evening")
                  | temperature : temperatureUnit()
              }}<span>°</span>
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "night")) {
            <p>
              {{
                getWeatherProperty(forecastItem.list, "temp", "night")
                  | temperature : temperatureUnit()
              }}<span>°</span>
            </p>
            }
          </div>
          <!-- WEATHER ICONS -->
          <div
            class="flex flex-col justify-center text-primary-content w-fit h-fit"
          >
            @if (hasDataForDayPart(forecastItem.list, "morning")) {
            <div class="w-fit h-fit">
              <img
                class="size-10"
                [src]="getWeatherProperty(forecastItem.list, 'icon', 'morning')"
                [alt]="`${ getWeatherProperty( forecastItem.list, 'description', 'morning' ) } icon`"
              />
            </div>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
            <div class="w-fit h-fit">
              <img
                class="size-10"
                [src]="
                  getWeatherProperty(forecastItem.list, 'icon', 'afternoon')
                "
                [alt]="`${ getWeatherProperty( forecastItem.list, 'description', 'afternoon' ) } icon`"
              />
            </div>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "evening")) {
            <div class="w-fit h-fit">
              <img
                class="size-10"
                [src]="getWeatherProperty(forecastItem.list, 'icon', 'evening')"
                [alt]="`${ getWeatherProperty( forecastItem.list, 'description', 'evening' ) } icon`"
              />
            </div>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "night")) {
            <div class="w-fit h-fit">
              <img
                class="size-10"
                [src]="getWeatherProperty(forecastItem.list, 'icon', 'night')"
                [alt]="`${ getWeatherProperty( forecastItem.list, 'description', 'night' ) } icon`"
              />
            </div>
            }
          </div>
        </div>
      </div>
      <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:text-primary-content">
        <p class="text-secondary-content">feels like</p>
        @if (hasDataForDayPart(forecastItem.list, "morning")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "feels_like", "morning")
              | temperature : temperatureUnit()
          }}<span>°</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "feels_like", "afternoon")
              | temperature : temperatureUnit()
          }}<span>°</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "evening")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "feels_like", "evening")
              | temperature : temperatureUnit()
          }}<span>°</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "night")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "feels_like", "night")
              | temperature : temperatureUnit()
          }}<span>°</span>
        </p>
        }
      </div>
      <div class="hidden md:flex md:flex-col md:gap-4 md:text-primary-content">
        <p class="text-secondary-content">humidity</p>
        @if (hasDataForDayPart(forecastItem.list, "morning")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "humidity", "morning")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "humidity", "afternoon")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "evening")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "humidity", "evening")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "night")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "humidity", "night")
          }}<span>%</span>
        </p>
        }
      </div>
      <div class="hidden xl:flex xl:flex-col xl:gap-4 xl:text-primary-content">
        <p class="text-secondary-content">pressure</p>
        @if (hasDataForDayPart(forecastItem.list, "morning")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "pressure", "morning") }}
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "pressure", "afternoon") }}
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "evening")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "pressure", "evening") }}
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "night")) {
        <p>{{ getWeatherProperty(forecastItem.list, "pressure", "night") }}</p>
        }
      </div>
      <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:text-primary-content">
        <p class="text-secondary-content">visibility</p>
        @if (hasDataForDayPart(forecastItem.list, "morning")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "visibility", "morning")
              | visibility
              | number : "1.0-1"
          }}
          <span>Km</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "visibility", "afternoon")
              | visibility
              | number : "1.0-1"
          }}
          <span>Km</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "evening")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "visibility", "evening")
              | visibility
              | number : "1.0-1"
          }}
          <span>Km</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "night")) {
        <p>
          {{
            getWeatherProperty(forecastItem.list, "visibility", "night")
              | visibility
              | number : "1.0-1"
          }}
          <span>Km</span>
        </p>
        }
      </div>
      <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:text-primary-content">
        <p class="text-secondary-content">cloudiness</p>
        @if (hasDataForDayPart(forecastItem.list, "morning")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "clouds", "morning")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "clouds", "afternoon")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "evening")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "clouds", "evening")
          }}<span>%</span>
        </p>
        }
        <!--  -->
        @if (hasDataForDayPart(forecastItem.list, "night")) {
        <p>
          {{ getWeatherProperty(forecastItem.list, "clouds", "night")
          }}<span>%</span>
        </p>
        }
      </div>
      <div
        class="flex flex-col items-end md:items-start gap-4 text-primary-content"
      >
        <p class="block text-secondary-content">wind, m/s</p>
        <div class="flex flex-row gap-4">
          <div class="flex flex-col gap-4">
            @if (hasDataForDayPart(forecastItem.list, "morning")) {
            <p>
              {{
                getWindProperty(forecastItem.list, "speed", "morning")
                  | number : "1.0-1"
              }}
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
            <p>
              {{
                getWindProperty(forecastItem.list, "speed", "afternoon")
                  | number : "1.0-1"
              }}
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "evening")) {
            <p>
              {{
                getWindProperty(forecastItem.list, "speed", "evening")
                  | number : "1.0-1"
              }}
            </p>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "night")) {
            <p>
              {{
                getWindProperty(forecastItem.list, "speed", "night")
                  | number : "1.0-1"
              }}
            </p>
            }
          </div>
          <div class="flex flex-col gap-4 text-secondary-content">
            @if (hasDataForDayPart(forecastItem.list, "morning")) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              viewBox="0 0 14 14"
              class="shrink-0"
              [class]="
                getWindDirectionClass(
                  getWindProperty(forecastItem.list, 'deg', 'morning')
                )
              "
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M1.25 7a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0M7 0a7 7 0 1 0 0 14A7 7 0 0 0 7 0m2.854 4.146a.5.5 0 0 1 .12.512l-2 6a.5.5 0 0 1-.903.1L5.636 8.363L3.243 6.93a.5.5 0 0 1 .099-.903l6-2a.5.5 0 0 1 .512.12"
                clip-rule="evenodd"
              />
            </svg>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "afternoon")) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              viewBox="0 0 14 14"
              class="shrink-0"
              [class]="
                getWindDirectionClass(
                  getWindProperty(forecastItem.list, 'deg', 'afternoon')
                )
              "
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M1.25 7a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0M7 0a7 7 0 1 0 0 14A7 7 0 0 0 7 0m2.854 4.146a.5.5 0 0 1 .12.512l-2 6a.5.5 0 0 1-.903.1L5.636 8.363L3.243 6.93a.5.5 0 0 1 .099-.903l6-2a.5.5 0 0 1 .512.12"
                clip-rule="evenodd"
              />
            </svg>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "evening")) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              viewBox="0 0 14 14"
              class="shrink-0"
              [class]="
                getWindDirectionClass(
                  getWindProperty(forecastItem.list, 'deg', 'evening')
                )
              "
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M1.25 7a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0M7 0a7 7 0 1 0 0 14A7 7 0 0 0 7 0m2.854 4.146a.5.5 0 0 1 .12.512l-2 6a.5.5 0 0 1-.903.1L5.636 8.363L3.243 6.93a.5.5 0 0 1 .099-.903l6-2a.5.5 0 0 1 .512.12"
                clip-rule="evenodd"
              />
            </svg>
            }
            <!--  -->
            @if (hasDataForDayPart(forecastItem.list, "night")) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              viewBox="0 0 14 14"
              class="shrink-0"
              [class]="
                getWindDirectionClass(
                  getWindProperty(forecastItem.list, 'deg', 'night')
                )
              "
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M1.25 7a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0M7 0a7 7 0 1 0 0 14A7 7 0 0 0 7 0m2.854 4.146a.5.5 0 0 1 .12.512l-2 6a.5.5 0 0 1-.903.1L5.636 8.363L3.243 6.93a.5.5 0 0 1 .099-.903l6-2a.5.5 0 0 1 .512.12"
                clip-rule="evenodd"
              />
            </svg>
            }
          </div>
        </div>
      </div>
    </div>
  </a>
  }
</div>
