<header class="w-full h-fit bg-primary py-4 font-jost font-semibold">
  <nav
    class="md:w-180 lg:w-250 xl:w-310 flex flex-row gap-4 items-center mx-1 md:mx-auto md:transition-all"
  >
    <!-- TABLET/DESKTOP NAVBAR START -->
    <a href="">
      <img src="/assets/images/aeris-title.png" alt="Aeris Web Title" />
    </a>
    <button class="hidden md:btn md:btn-accent">Current Weather</button>
    <button class="hidden md:btn md:btn-accent">5-day Forecast</button>
    <form class="flex-grow">
      <label class="input input-accent bg-base-100 w-full">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input
          class="text-center placeholder:text-center"
          type="search"
          placeholder="Search"
        />
      </label>
    </form>
    <!-- TABLET/DESKTOP NAVBAR END -->

    <!-- MOBILE MENU START -->
    <button
      class="bg-accent p-2 rounded-full active:bg-base-200/50 md:hidden"
      (click)="isMenuOpen.set(!isMenuOpen())"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu-icon lucide-menu"
      >
        <path d="M4 12h16" />
        <path d="M4 18h16" />
        <path d="M4 6h16" />
      </svg>
    </button>
    @if ( isMenuOpen() ) {
    <div
      class="absolute inset-0"
      aria-hidden="true"
      (click)="isMenuOpen.set(false)"
    ></div>
    <div
      @menuAnimation
      class="p-2 w-fit absolute top-17 right-1 bg-accent rounded-box md:hidden"
    >
      <div class="flex flex-col gap-2 items-center justify-center">
        <button class="btn btn-accent w-full">Current Weather</button>
        <button class="btn btn-accent w-full">5-day Forecast</button>
      </div>
    </div>
    }

    <!-- MOBILE MENU END -->
  </nav>
</header>
