<header
  class="w-full h-fit bg-primary py-4 font-jost font-semibold z-5 transition-all ease-in-out duration-10000"
>
  <nav
    class="md:w-180 lg:w-250 xl:w-310 flex flex-row gap-4 items-center mx-1 md:mx-auto"
  >
    <!-- TABLET/DESKTOP NAVBAR START -->
    <a
      [class]="isSearchOpen() ? 'hidden' : 'block'"
      class="md:block"
      routerLink="/location"
    >
      <img src="/assets/images/aeris-title.png" alt="Aeris Web Title" />
    </a>
    <a
      routerLink="/location"
      routerLinkActive="md:btn-active"
      class="hidden md:btn md:btn-accent"
      >Current Weather</a
    >
    <a
      routerLink="/forecast"
      routerLinkActive="md:btn-active"
      class="hidden md:btn md:btn-accent"
      >5-day Forecast</a
    >
    <div class="flex-grow relative z-4" (click)="isSearchOpen.set(true)">
      <label class="input input-accent bg-base-100 w-full">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input
          type="search"
          class="text-center placeholder:text-center"
          placeholder="Search"
          (keyup)="inputString.set(searchBar.value)"
          (keyup.enter)="onSearch(searchBar.value)"
          #searchBar
        />
      </label>
      <!-- Resultados de búsqueda -->
      @if ( isSearchOpen() ) {
      <div class="absolute w-full left-0 top-13" @searchAnimation>
        <div
          class="border border-secondary-content/50 bg-accent rounded-box shadow-lg max-h-60 overflow-y-auto textce"
        >
          @if ( searchResult() ) {
          <ul class="menu menu-md p-2 w-full">
            @for (result of searchResult(); track $index) {
            <li>
              <a
                class="flex flex-row justify-between text-primary-content w-full"
                (click)="onSelection(result)"
              >
                <div class="flex flex-row items-center gap-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-map-pin-icon lucide-map-pin shrink-0"
                  >
                    <path
                      d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                    />
                    <circle cx="12" cy="10" r="3" />
                  </svg>
                  <p>
                    <span>{{ result.location }}</span>
                    @if ( result.state ) {
                    <span>, {{ result.state }}</span>
                    }
                  </p>
                </div>
                <span class="text-secondary-content">{{ result.country }}</span>
              </a>
            </li>
            }
            <!--  -->
            @empty {
            <div class="menu menu-md p-2 w-full">
              <p class="flex flex-row items-center justify-between">
                <span class="font-normal"> Current Location </span>
                <span>
                  {{ currentLocation().location }},
                  {{ currentLocation().country }}
                </span>
              </p>
            </div>
            }
          </ul>
          }
        </div>
      </div>
      }
    </div>

    <!-- TABLET/DESKTOP NAVBAR END -->

    <!-- MOBILE MENU START -->
    <button
      class="bg-accent p-2 rounded-full active:bg-base-200/50 z-40 md:hidden"
      [class]="isSearchOpen() ? 'hidden' : 'block'"
      (click)="isMenuOpen.set(!isMenuOpen())"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu-icon lucide-menu"
      >
        <path d="M4 12h16" />
        <path d="M4 18h16" />
        <path d="M4 6h16" />
      </svg>
    </button>
    @if ( isMenuOpen() || isSearchOpen() ) {
    <div
      class="fixed inset-0 z-3"
      aria-hidden="true"
      (click)="closeAllMenus()"
    ></div>
    } @if ( isMenuOpen() ) {
    <div
      @menuAnimation
      class="p-2 w-fit fixed top-17 right-4 bg-accent rounded-box z-50 md:hidden"
    >
      <div class="flex flex-col gap-2 items-center justify-center">
        <a
          routerLink="/location"
          routerLinkActive="btn-active"
          class="btn btn-accent w-full"
          (click)="isMenuOpen.set(false)"
          >Current Weather</a
        >
        <a
          routerLink="/forecast"
          routerLinkActive="btn-active"
          class="btn btn-accent w-full"
          (click)="isMenuOpen.set(false)"
          >5-day Forecast</a
        >
      </div>
    </div>
    }
    <!-- MOBILE MENU END -->
  </nav>
</header>
